<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Cashie</string>
    <key>CFBundleDisplayName</key>
    <string>Cashie</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.finance</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string></string>
    </dict>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIAppFonts</key>
    <array>
        <string>BarlowCondensed-Regular.ttf</string>
        <string>BarlowCondensed-Medium.ttf</string>
        <string>BarlowCondensed-SemiBold.ttf</string>
        <string>BarlowCondensed-Bold.ttf</string>
        <string>BarlowCondensed-ExtraBold.ttf</string>
        <string>BarlowCondensed-Italic.ttf</string>
        <string>BarlowCondensed-MediumItalic.ttf</string>
        <string>BarlowCondensed-SemiBoldItalic.ttf</string>
        <string>BarlowCondensed-BoldItalic.ttf</string>
        <string>BarlowCondensed-ExtraBoldItalic.ttf</string>
        <string>Inter-Regular.ttf</string>
        <string>Inter-Medium.ttf</string>
        <string>Inter-SemiBold.ttf</string>
        <string>Inter-Bold.ttf</string>
        <string>Inter-Italic.ttf</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.cashie.app.quicklog</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>cashie</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
